/* src/app.css */

/* --- Globotipo Font Family --- */

/* Thin - 100 */
@font-face {
  font-family: 'Globotipo';
  font-style: normal;
  font-weight: 100;
  src: url('https://s3.glbimg.com/v1/AUTH_8b29beb0cbe247a296f902be2fe084b6/fonts/globo-th-lt.woff2') format('woff2');
}

/* Thin - 200 */
@font-face {
  font-family: 'Globotipo';
  font-style: normal;
  font-weight: 200;
  src: url('https://s3.glbimg.com/v1/AUTH_8b29beb0cbe247a296f902be2fe084b6/fonts/globo-th.woff2') format('woff2');
}

/* Light - 300 */
@font-face {
  font-family: 'Globotipo';
  font-style: normal;
  font-weight: 300;
  src: url('https://s3.glbimg.com/v1/AUTH_8b29beb0cbe247a296f902be2fe084b6/fonts/globo-lt-lt.woff2') format('woff2');
}

/* Regular - 400 */
@font-face {
  font-family: 'Globotipo';
  font-style: normal;
  font-weight: 400;
  src: url('https://s3.glbimg.com/v1/AUTH_8b29beb0cbe247a296f902be2fe084b6/fonts/globo-lt.woff2') format('woff2');
}

/* Medium - 500 */
@font-face {
  font-family: 'Globotipo';
  font-style: normal;
  font-weight: 500;
  src: url('https://s3.glbimg.com/v1/AUTH_8b29beb0cbe247a296f902be2fe084b6/fonts/globo-rg-lt.woff2') format('woff2');
}

/* Medium - 600 */
@font-face {
  font-family: 'Globotipo';
  font-style: normal;
  font-weight: 600;
  src: url('https://s3.glbimg.com/v1/AUTH_8b29beb0cbe247a296f902be2fe084b6/fonts/globo-rg.woff2') format('woff2');
}

/* Bold - 700 */
@font-face {
  font-family: 'Globotipo';
  font-style: normal;
  font-weight: 700;
  src: url('https://s3.glbimg.com/v1/AUTH_8b29beb0cbe247a296f902be2fe084b6/fonts/globo-bd-lt.woff2') format('woff2');
}

/* Bold - 800 */
@font-face {
  font-family: 'Globotipo';
  font-style: normal;
  font-weight: 800;
  src: url('https://s3.glbimg.com/v1/AUTH_8b29beb0cbe247a296f902be2fe084b6/fonts/globo-bd.woff2') format('woff2');
}

/* Black - 900 */
@font-face {
  font-family: 'Globotipo';
  font-style: normal;
  font-weight: 900;
  src: url('https://s3.glbimg.com/v1/AUTH_8b29beb0cbe247a296f902be2fe084b6/fonts/globo-bk-lt.woff2') format('woff2');
}

/* Black - 1000 (mapeado para 900, que é o máximo padrão) */
@font-face {
  font-family: 'Globotipo';
  font-style: normal;
  font-weight: 950; /* Usando um valor próximo a 900 */
  src: url('https://s3.glbimg.com/v1/AUTH_8b29beb0cbe247a296f902be2fe084b6/fonts/globo-bk.woff2') format('woff2');
}

/* --- Estilos Globais --- */
body {
  font-family: 'Globotipo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-wrap: pretty; 
}